<p class="about">
    <a href="/about">
        <img src="/resources/meatduck.png" width="80" height="80" alt="Avatar" />
    </a>
    Hi, I'm Iván Montes, also known as DrSlump, a passionate web developer.
    You can follow me on <a href="/atom.xml">this blog</a>, fork me on 
    <a href="http://github.com/drslump">GitHub</a> and check out some of my
    work on my <a href="/portfolio">portfolio</a>.
</p>

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/DrSlump" data-widget-id="399685000380952576">Tweets by @DrSlump</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
